.global {
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .global {
    margin-bottom: 25px;
  }
}

.global_links {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .global_links {
    gap: 20px;
  }
}

@media (max-width: 567px) {
  .global_links {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
}

.global_links .global_link {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.global_links .global_link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(107, 16, 16, 0.5);
  z-index: 1;
}

.global_links .global_link div {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
  color: #fff;
}

.global_links .global_link div h3 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.global_links .global_link div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  transition: all 0.3s ease;
}

.global_links .global_link div a:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}
